        <div class="form-group">
            <label for="usuario">{{pageText.usuario}}</label>
            <input class="form-control" minlength="3" maxlength="20" name="usuario" id="usuario" required="required" ng-model="user.usuario">
            <div ng-show="form.$submitted || form.usuario.$touched">
                <span class="label label-danger" ng-show="form.usuario.$error.required">{{AplicationText.required}}</span>
                <span class="label label-danger" ng-show="form.usuario.$error.minlength">{{pageText.usuario_minlength}}</span>
            </div>
        </div>
        <!-- 
        <div class="form-group">
            <label for="password">{{pageText.password}}</label>
            <input name="password" class="form-control" type="password" id="password" required   ng-model="user.password">
            <span class="label label-danger" ng-show="error_password">{{AplicationText.error_password}}</span>
            <div ng-show="form.$submitted || form.password.$touched">
                <span class="label label-danger" ng-show="form.password.$error.required">{{AplicationText.required}}</span>
            </div>
            <label for="password_verify">{{pageText.password_verify}}</label>
            <input name="password_verify" type="password" class="form-control" id="password_verify" required   ng-model="user.password_verify">
            <div ng-show="form.$submitted || form.password_verify.$touched">
                <span class="label label-danger" ng-show="form.password_verify.$error.required">{{AplicationText.required}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="nombre">{{pageText.nombre}}</label>
            <input  class="form-control" name="nombre"   id="nombre"  required="required"  ng-model="user.nombre">
            <div ng-show="form.$submitted || form.nombre.$touched">
                <span class="label label-danger" ng-show="form.nombre.$error.required">{{AplicationText.required}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="apellido">{{pageText.apellido}}</label>
            <input name="apellido" class="form-control" id="apellido" required   ng-model="user.apellido">
            <div ng-show="form.$submitted || form.apellido.$touched">
                <span class="label label-danger" ng-show="form.apellido.$error.required">{{AplicationText.required}}</span>
            </div>
        </div>
        
        <div class="form-group">
            <label for="email">{{pageText.email}}</label>
            <input class="form-control" type="email" ng-model="user.email" name="email" required/>
            <div ng-show="form.$submitted || form.email.$touched">
              <span class="label label-danger" ng-show="form.email.$error.required">{{AplicationText.required}}</span>
              <span class="label label-danger" ng-show="form.email.$error.email">{{AplicationText.novalid}}</span>
            </div>
        </div>


        <div class="form-group">
            <label for="vigencia_desde">{{pageText.vigencia_desde}}</label>
            <input class="form-control" ng-model="user.vigencia_desde" name="vigencia_desde" required/>
            <div ng-show="form.$submitted || form.vigencia_desde.$touched">
              <span class="label label-danger" ng-show="form.vigencia_desde.$error.required">{{AplicationText.required}}</span>
            </div>

            <label for="vigencia_hasta">{{pageText.vigencia_hasta}}</label>
            
            <input class="form-control"  ng-model="user.vigencia_hasta" name="vigencia_hasta" />
            <div ng-show="form.$submitted || form.vigencia_hasta.$touched">
              <span class="label label-danger" ng-show="form.vigencia_hasta.$error.required">{{AplicationText.required}}</span>
            </div>
        </div>
        -->

        <button type="submit" class="btn btn-primary">{{AplicationText.submit}}</button>    
 
