<!DOCTYPE html>
<html ng-app="rrhh">
    <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Aplicacion en angular</title>
        
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <meta charset="UTF-8">
        <meta name="description" content="Descripcion de la aplicacion" />
        <meta name="keywords" content="word1,word2" />
        <meta name="author" content="" />
        
        <link href="assets/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body ng-controller="appController">
        <div class="page-inner">
            <div class="container">
                <a href="#index" class="btn btn-default" ng-click='refreshLink("Home")'>Home</a> 
                <a href="#user/list" class="btn btn-default" ng-click='refreshLink("Usuario")'>User List</a> 
                <a href="#user/insert" class="btn btn-default" ng-click='refreshLink("Editar usuario")'>User insert</a> 
                <a href="#user/edit" class="btn btn-default" ng-click='refreshLink("Editar usuario")'>User Edit</a> 
            </div>	
            <page-title value="titulo" ng-show='titulo'></page-title>
            <div id="main-wrapper" class="container" ng-view style="background-color:#ffffcc;padding:5px;"></div>
            <page-footer value="footer"></page-footer>

        </div><!-- Page Inner -->

        <!-- Javascripts -->

        
        <script src="assets/libs/jquery/jquery-2.1.3.min.js"></script>
        <script src="assets/libs/bootstrap/js/bootstrap.min.js"></script>
        <script src="assets/libs/angular/angular.min.js"></script>
        <script src="assets/libs/angular/angular-route.js"></script>
        
        <script src="assets/common/ApiCaller.js"></script>
        <script src="assets/common/ModalTemplate.js"></script>
        <script src="assets/common/validations.js"></script>
        <script src="assets/common/JSArrays.js"></script>
        <script src="assets/app.js"></script>
        <script src="assets/app.config.js"></script>
        <script src="assets/app.routes.js"></script>
        <script src="assets/directives/directives.js"></script>
        <script src="assets/services/services.js"></script>
        <script src="assets/factory/factory.js"></script>
        <script src="assets/controllers/users.js"></script>
  
    </body>
</html>